*.db
*.duckdb
*.duckdb.wal
.Rhistory
.RData
renv/*
.Rprofile
reports/*
!reports/*.qmd
!reports/*.Rmd
.vscode/*
.DS_Store
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
app/config.yml
