*.db
!inst/extdata/*.db
!inst/extdata/projects/*.db
!inst/extdata/pics/*.db
*.duckdb
*.duckdb.wal
.Rhistory
.RData
renv/*
.Rprofile
reports/*
!reports/*.qmd
!reports/*.Rmd
.vscode/*
.DS_Store
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
inst/app/config.yml
.Rproj.user
_TO_CLASSIFY/*
!_TO_CLASSIFY/tests/
!_TO_CLASSIFY/tests/**
!_TO_CLASSIFY/shinytest2/
!_TO_CLASSIFY/shinytest2/**
!_TO_CLASSIFY/inst-app-runtime/
!_TO_CLASSIFY/inst-app-runtime/**
_TO_CLASSIFY/inst-app-runtime/
_TO_CLASSIFY/tests/testthat/data/
